*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-flow: column nowrap;
    background-color: rgba(255, 192, 203, 0.807);
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.form-group{
    height: 60px;
    width: 500px;
    position: relative;
    
}

.form-group input{
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    border: none;
    top: 0;
    left: 0;
    font-size: 20px;
    padding:0px 10px 0px 20px;

    
}

.form-group input:focus{
    border: 2px solid palevioletred;
}

.form-group .btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color:palevioletred;
    color: white;
}

.form-group .btn:hover{
    background-color: rgba(216, 112, 147, 0.827);
}

.btn-1 .input{
    padding-right: 80px;
    border-radius: 0 3px 3px 0;

}

.btn-1 .btn{
    border-radius: 0 3px 3px 0;
}

.btn-2 .btn{
    left: 0;
    border-radius: 3px 0px 0px 3px;
}
.btn-2 input{
    padding-left: 80px;
    border-radius: 3px 0px 0px 3px;
}

.btn-3 .btn{
    border-radius: 50px;
}
.btn-3 .input{
    border-radius: 50px;
    padding-right: 80px;
}

.btn-4 .btn{
    left: 0;
    border-radius: 50px;
}
.btn-4 .input{
    padding-left: 80px;
    border-radius: 50px;
}

.btn-5 .btn{
     width: 125px;
     height: 45px;
     top: 8px;
     right: 6px;
     border-radius: 3px;
}
.btn-5 input{
    padding-right: 135px;
}

.btn-6 .btn{
    width: 125px;
    height: 45px;
    top: 8px;
    right: 8px;
    border-radius: 25px;
    

}
.btn-6 input{
    padding-right: 135px;
}